<!DOCTYPE html>
<html>
<head>
	<title>4 PICS 1 WORD</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/toastr.min.css">
</head>
<body>

<style type="text/css">
	.letterbox{
		width: 50px;
		height: 50px;
		text-align: center;
		font-size:40px;
		display: inline-block;
		margin: 5px !important;
		cursor: pointer;
	}
	.pics{
	    width: 100%;
	    height: 100%;
	}
	body  {
	  background-image: url("images/bg.jpg");
	  background-color: #333333;
	}
	[v-cloak] > * { display:none; }

</style>
<div id="root">
<div class="container">

	<div class="col-md-8 offset-md-2 mt-5">
		<div class="card text-white bg-dark mb-3">
		  <div class="card-body">
		  	<div class="row row-no-gutters">
				<div class="col-md-6 col-sm-6 col-xs-6 m-0 p-1">
					<img src="images/industriya-1.jpg" class="pics img-fluid" >
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 m-0 p-1">
					<img src="images/industriya-2.jpg" class="pics img-fluid" >
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 m-0 p-1">
					<img src="images/industriya-3.jpg" class="pics img-fluid" >
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 m-0 p-1">
					<img src="images/industriya-4.jpg" class="pics img-fluid" >
				</div>
		  	</div>
		  	<hr>
		    <div class="text-center" v-if="status!=true">
		    	<input type="text" class="form-control letterbox text-white bg-dark" maxlength="1" v-model="attempt[index]" readonly v-for="(att,index) in attempt" @click="fromAttempt(att,index)">
		    	
		    </div>
		    <div class="text-center" v-cloak v-else>
				<h1>{{correct}}&nbsp; <img src="images/checkmark.png" style="height: 40px; margin-top:-14px;" /></h1>
		    </div>
		  </div>
		</div>

		<a class="btn btn-success btn-block mb-2" href="index.html" v-if="status"><b>HOME<b></a>
		
		<div class="card">
		  <div class="card-body">
		  	
		    <div class="text-center choice">
		    	<input type="text" class="form-control letterbox m-1" maxlength="1" v-model="choices[index]" readonly v-for="(choice,index) in choices" @click="fromChoices(choice,index)">
		    	
		    </div>
		  </div>
		</div>
	</div>

</div>


</div><!--root-->


<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/toastr.min.js"></script>
<script src="js/vue.js"></script>
<script type="text/javascript">
	const shuffleArray = arr => arr
	  .map(a => [Math.random(), a])
	  .sort((a, b) => a[0] - b[0])
	  .map(a => a[1]);

	new Vue({
		el:'#root',
		data:{
			correct_array:['INDUSTRIYA'],
			letters:['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
			correct:'INDUSTRIYA',
			letter_counter: 9,
			choices_counter:18,
			choices:[],
			answer_array:[],
			attempt:[],
			counter:0,
			status:false,
			level:0
		},
		created(){
			this.setUp();
		},
		methods:{
			setUp: function(){
				this.letters = shuffleArray(this.letters);
				this.getChoices();
			},
			getChoices: function(){
				this.answer_array = this.correct.split('');
				this.letter_counter = this.answer_array.length;
				for(a = 0; a < this.letter_counter; a++){
					this.attempt.push('');
				}
				console.log(this.letter_counter);
				console.log('attempt',this.attempt);
				let diff = this.choices_counter - this.letter_counter;
				for(i = 0; i < diff; i++){
					this.choices.push(this.letters[i]);
				}				
				this.answer_array.forEach(y =>{
					this.choices.push(y);
				});
				this.choices = shuffleArray(this.choices);
				console.log('all choices',this.choices);
			},
			fromChoices: function(choice,index){
				let attempt_index = this.attempt.indexOf("");
				if (attempt_index != -1){
					this.attempt[attempt_index] = choice;
					this.choices[index] = '';
					this.$forceUpdate();
					if (this.attempt.indexOf("") == -1){
						let attempt_string = this.attempt.join("");
						if (attempt_string == this.correct){
							this.status = true;
							this.$forceUpdate();
							var audio = new Audio('audio/success.mp3');
							audio.volume = 0.2;
							audio.play();
							// alert('correct');
							toastr.success('Mahusay');
						}else{
							this.$forceUpdate();
							toastr.error('Subukang Muli');
						}
					}
				}else{
					alert('whoops');
				}
			},
			fromAttempt: function(choice,index){
				let choices_index = this.choices.indexOf("");
				this.choices[choices_index] = choice;
				this.attempt[index] = '';
				this.$forceUpdate();
			}
			
		}
	});
</script>
</body>
</html>